# Ignore my direnv setup
.envrc
.direnv

# Ignore Terraform plugin/module cache and local state files
.terraform
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# Don't include any local automatic variable assignment files
terraform.tfvars
terraform.tfvars.json
*.auto.tfvars
*.auto.tfvars.json

# Kitchen testing
.kitchen
test/setup/harness.tfvars
test/setup/inspec-verifier.json
Gemfile.lock
test/reports
!test/reports/.gitkeep
