---
repos:
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.22.0
    hooks:
      - id: yamllint
        files: \.(yml|yaml)$
        types: [file, yaml]
        entry: yamllint
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.29.0
    hooks:
      - id: terraform_fmt
      - id: terraform_docs
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.7.1.1
    hooks:
      - id: shellcheck
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.5.0
    hooks:
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: sort-simple-yaml
      - id: trailing-whitespace
  - repo: https://github.com/thoughtworks/talisman
    rev: v1.2.0
    hooks:
      - id: talisman-commit
